{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Charmix | Cadastre-se</title>
    <link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="icon" href="{% static 'img/charmix-logo.ico' %}" type="image/x-icon">
</head>

<body>
    <header class="foi-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light foi-navbar">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'img/charmix-logo.png'%}" alt="FOI" style="max-width:70px">
                </a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId" style="justify-content: end !important;">
                    
                        <a class="btn btn-primary" href="/pessoa/login/">Conecte-se</a>
                       
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main class="page-auth">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <section class="auth-wrapper">
                        <div class="row">
                            <div class="col-md-6 mb-4 mb-md-0">
                                <h2 class="auth-section-title">Crie uma conta</h2>
                                <p class="auth-section-subtitle">Crie sua conta para continuar</p>
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button class="btn btn-primary btn-auth-submit" type="submit">Criar conta</button>
                                </form>
                                <p class="mb-0">
                                    <a href="login.html" class="text-dark font-weight-bold">Você já tem uma conta? Entre</a>
                                </p>
                            </div>
                            <div class="col-md-6 d-flex align-items-center">
                                <img src="{% static 'img/Mobile login-pana.png'%}" alt="login" class="img-fluid">
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>

    <footer class="foi-footer text-white">
        <div class="container">
            <div class="row footer-content">
                <div class="col-xl-6 col-lg-7 col-md-8">
                    <h2 class="mb-0">Seu estilo, nosso compromisso.</h2>
                </div>
               
            </div>
            <div class="row footer-widget-area" style="
            display: flex;
            align-items: center;
            justify-content: space-between;">
                <div class="col-md-3">
                    <div class="py-3">
                        <img src="{% static 'img/charmix-footer.png'%}" alt="FOI" style="max-width:300px">
                    </div>
                </div>
                
                <div class="col-md-3 mt-3 mt-md-0">
                    <p>
                        © 2024,
                        made with <i class="fa fa-heart"></i> by
                        Carlos Manoel, Pedro Luca & Pietra Macedo.</a>
                    </p>
                    <p>Todos os direitos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            
            var passwordInputOne = document.querySelector('#id_password1'); 
            var passwordInputTwo = document.querySelector('#id_password2'); 
            passwordInputOne.placeholder = 'Insira sua senha';
            passwordInputTwo.placeholder = 'Confirme sua senha';
            
            passwordInputOne.classList.add('form-control');
            passwordInputTwo.classList.add('form-control');
            var errorLists = document.querySelectorAll('ul');

            
            errorLists.forEach(function(errorList) {
                errorList.style.display = 'none';
            });
            var labelPasswordOne = document.querySelector(`label[for="${passwordInputOne.id}"]`);
            var labelPasswordTwo = document.querySelector(`label[for="${passwordInputTwo.id}"]`);
            
            
            if (labelPasswordOne) {
                labelPasswordOne.textContent = 'Senha'; 
            }
            
            if (labelPasswordTwo) {
                labelPasswordTwo.textContent = 'Confirme a Senha'; 
            }
            var helpTextElement = document.getElementById('id_username_helptext');


            if (helpTextElement) {
                helpTextElement.textContent = 'Obrigatório. 150 caracteres ou menos. Letras, dígitos e @/./+/-/_ somente.';
            }
            var password2helpText = document.getElementById('id_password2_helptext');
            if (password2helpText) {
                password2helpText.textContent = 'Digite a mesma senha anterior para verificação.';
            }
        });
        
    </script>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper.js/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js'%}"></script>
</body>

</html>