{% extends '_base.html' %}

{% block content %}

  <div class="card">
    <div class="card-body">
      <a href="/salao/" class="btn btn-primary mt-3">Voltar</a>
      {% if is_proprietario %}
      <a href="{% url 'salao_edit' salao.id %}" class="btn btn-warning mt-3">Editar</a>
      <a href="{% url 'salao_delete' salao.id %}" onclick="alertMessage('{salao.id}')" class="btn btn-danger mt-3">Deletar</a>
      {% endif %}
      <h5 class="mb-4">Detalhes do salão</h5>
      <div class="row">
        <div class="col-xl-5 col-lg-6 text-center">
          <img class="w-100 border-radius-lg shadow-lg mx-auto" src="{{ salao.url_image.url }}" alt="chair">
        </div>
        <div class="col-lg-5 mx-auto">
          <h3 class="mt-lg-0 mt-4">{{ salao.nome }}</h3>
          <!-- <br>
          <span class="badge badge-success">In Stock</span>
          <br> -->
          <p class="mt-4"><strong>Descrição: </strong>{{ salao.descricao }}</p>
          <p><strong>Endereço: </strong>{{ salao.endereco }}</p>
          <p><strong>Telefone: </strong>{{ salao.telefone }}</p>
          <p><strong>Proprietário: </strong>{{ salao.proprietario.nome }}</p>
        </div>
        <div class="row mt-5">
          <div class="col-12">
            <h5 class="ms-3">Agendamento</h5>
            {% if not is_proprietario %}
            <a href="{% url 'agendamento_add' salao.id %}" class="btn btn-primary mt-3">Agendar horário</a>
            {% endif %}
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cliente</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Horário</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Data</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Observação</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Serviço</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ações</th> <!-- Nova coluna para ações -->
                </tr>
              </thead>
              <tbody>
                {% if agendamentos %}
                  {% for agendamento in agendamentos %}
                    <tr>
                      <td>{{ agendamento.cliente_id }}</td>
                      <td>{{ agendamento.horario }}</td>
                      <td>{{ agendamento.data }}</td>
                      <td>{{ agendamento.observacao }}</td>
                      <td>{{ agendamento.servico_id}}</td>
                      <td>{{ agendamento.get_status_display }}</td>
                      <td>
                        {% if is_proprietario %}
                          {% if agendamento.status == 'PEN' %}
                              <a href="{% url 'agendamento_confirm' agendamento.id %}" class="btn btn-success btn-sm">Confirmar</a>
                          {% elif agendamento.status == 'CON' %}
                              <a href="{% url 'agendamento_complete' agendamento.id %}" class="btn btn-primary btn-sm">Concluir</a>
                          {% endif %}
                          {% if not agendamento.status == 'FIN' %}
                            <a href="{% url 'agendamento_edit' agendamento.id %}" class="btn btn-warning btn-sm">Editar</a>
                          {% endif %}
                        {% endif %}

                        {% if not agendamento.status == 'FIN' %}
                          <a href="{% url 'agendamento_delete' agendamento.id%}" class="btn btn-danger btn-sm">Cancelar</a>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td colspan="6" class="text-center">
                      <p class="text-sm text-secondary mb-0">Nenhum agendamento encontrado</p>
                    </td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12">
            <h5 class="ms-3">Serviços</h5>
            {% if is_proprietario %}
            <a href="{% url 'servico_add' salao.id %}" class="btn btn-primary mt-3">Adicionar serviço</a>
            {% endif %}
            <div class="table table-responsive">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nome</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Observação</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Valor</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Duração</th>
                    {% if is_proprietario %}
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Gerenciamento</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                  {%if servicos %}
                    {% for servico in servicos %}
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">{{ servico.nome }}</h6>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="text-sm text-secondary mb-0">{{ servico.descricao }}</p>
                        </td>
                        <td class="align-middle text-sm">
                          R${{ servico.valor }}
                        </td>
                        <td class="align-middle text-sm">
                          {{ servico.duracao }} 
                        </td>
                        {% if is_proprietario %}
                        <td class="align-middle text-center">
                          <a href="{% url 'servico_edit' servico.id %}" class="btn btn-warning btn-sm">Editar</a>
                          <a href="{% url 'servico_delete' servico.id %}" class="btn btn-danger btn-sm">Deletar</a>
                        </td>
                        {% endif %}
                      </tr>
                    {% endfor %}
                  {% else %}
                    <tr>
                      <td colspan="5" class="text-center">
                        <p class="text-sm text-secondary mb-0">Nenhum serviço cadastrado</p>
                      </td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12">
          <h5 class="ms-3">Produtos</h5>
          {% if is_proprietario %}
          <a href="{% url 'produto_add' salao.id %}" class="btn btn-primary mt-3">Adicionar Produto</a>
          {% endif %}
          <div class="table table-responsive">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nome</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Valor</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Disponibilidade</th>
              </tr>
            </thead>
            <tbody>
              {% if produtos %}
              {% for produto in produtos %}
              <tr>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div>
                      <img src="{{ produto.url_image.url }}" class="avatar avatar-md me-3" alt="table image">
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm"><a href="produto/{{ produto.id }}">{{ produto.nome }}</a></h6>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-sm text-secondary mb-0">R${{ produto.preco }}</p>
                </td>
                <td class="align-middle text-sm">
                    <p class="text-sm text-secondary mb-0 text-center">{{ produto.quantidade_estoque }}</p>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td colspan="4" class="text-center">
                  <p class="text-sm text-secondary mb-0">Nenhum produto cadastrado</p>
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>
          </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      function alertMessage(salaoId) {
        Swal.fire({
          title: "Tem certeza?",
          text: "Você não poderá reverter essa ação!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Sim, deletar!",
          cancelButtonText: "Cancelar"
        }).then((result) => {
          if (result.isConfirmed) {
            Swal.fire({
              title: "Deletado!",
              text: "O salão foi deletado.",
              icon: "success",
              showConfirmButton: false
            })
            window.location.href = '/salao/delete/' + salaoId
          }
        })
      }
    </script>
  </div>
{% endblock %}