{% extends '_base.html' %}

{% block content %}

<div class="container">
  <div class="row" style="background-color: white; border-radius: 10px;">
    <div class="col-md-12">
      <h1>Salões</h1>
      {% if is_proprietario %}
        <a href="/salao/add/" class="btn btn-primary">Novo Salão</a>
      {% endif %}
      {% if saloes %}
        <div class="row">
          {% for salao in saloes %}
            <div class="col-md-4">
              <div class="card mb-4" style="height: 200px;">
                <div class="card-body">
                  <h5 class="card-title"><a href="{{ salao.id }}/">{{ salao.nome }}</a></h5>
                  <p class="card-text">{{ salao.telefone }}</p>
                  <p class="card-text">{{ salao.endereco }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>Nenhum salão cadastrado</p>
      {% endif %}
    </div>
  </div>
</div>
  
{% endblock %}