{% extends '_base.html' %}

{% block content %}

  <div class="card">
    <div class="card-body">
      <a href="/salao/" class="btn btn-primary mt-3">Voltar</a>
      <h5 class="mb-4">Detalhes do salão</h5>
      <div class="row">
        <div class="col-xl-5 col-lg-6 text-center">
          <img class="w-100 border-radius-lg shadow-lg mx-auto" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/product-thumb.jpg" alt="chair">
        </div>
        <div class="col-lg-5 mx-auto">
          <h3 class="mt-lg-0 mt-4">{{ salao.nome }}</h3>
          <br>
          <span class="badge badge-success">In Stock</span>
          <br>
          <p class="mt-4"><strong>Descrição: </strong>{{ salao.descricao }}</p>
          <p><strong>Endereço: </strong>{{ salao.endereco }}</p>
          <p><strong>Telefone: </strong>{{ salao.telefone }}</p>
          <p><strong>Proprietário: </strong>Fulano</p>
        </div>
        <div class="row mt-5">
          <div class="col-12">
          <h5 class="ms-3">Serviços e Produtos</h5>
          <div class="table table-responsive">
          <table class="table align-items-center mb-0">
          <thead>
          <tr>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nome</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Valor</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Disponibilidade</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
          </tr>
          </thead>
          <tbody>
          <tr>
          <td>
          <div class="d-flex px-2 py-1">
          <div>
          <img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/product-thumb-1.jpg" class="avatar avatar-md me-3" alt="table image">
          </div>
          <div class="d-flex flex-column justify-content-center">
          <h6 class="mb-0 text-sm">Christopher Knight Home</h6>
          </div>
          </div>
          </td>
          <td>
          <p class="text-sm text-secondary mb-0">$89.53</p>
          </td>
          <td class="align-middle text-sm">
          <div class="progress mx-auto">
          <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          </td>
          <td class="align-middle text-center">
          <span class="text-secondary text-sm">230019</span>
          </td>
          </tr>
          </tbody>
          </table>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}