{% extends '_base.html' %}

{% block content %}

<div class="container">
  <div class="row" style="background-color: white; border-radius: 10px;">
    <div class="col-md-12">
      <a href="{% url 'salao_detail' salao_id=salao_id %}" class="btn btn-primary mt-3">Voltar</a>
      <h1>Editar agendamento: {{ agendamento.nome.value }}</h1>
      <form method="POST">
        {% csrf_token %}
        <div class="multisteps-form__content">
          <div class="row mt-3">
            <div class="col-12 col-sm-6">
              <label>Horário</label>
              {{ agendamento.horario }}
            </div>
            <div class="col-12 col-sm-6 mt-3 mt-sm-0">
              <label>Data</label>
              {{ agendamento.data }}
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 col-lg-12">
              <label>Observação</label>
              {{ agendamento.observacao }}
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 text-center">
              <button class="btn bg-gradient-dark btn-lg" type="submit" title="Next">Salvar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}